@page
@model JordnærCase2023.Pages.Members.AllMembersModel
@{
    ViewData["Title"] = "Medlemmer";
}

<h1>Medlemmer</h1>

<div style="display:flex; justify-content:space-between">
<form method="get" style="display:flex; gap:5px;">
    <input type="text" asp-for="@Model.FilterCriteria" placeholder="Søg efter navn..." class="form-control"/>
    <input type="submit" value="Filter" class="btn btn-outline-primary"/>
</form>

<a asp-page="CreateMember" class="btn btn-primary">Opret nyt medlem</a>
</div>

<table class="table">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Navn</th>
        <th>Tlf.</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    @if(Model.Members.Count > 0){
        @foreach (var item in Model.Members)
        {
            <tr style="vertical-align:middle;">
                <td><img src="~/Images/Members/@item.Image" class="rounded-circle" height="75" width="75"/></td>
                <td>@item.Id</td>
                <td>
                    <a asp-page="MemberPage" asp-route-memberId="@item.Id">@item.Name</a>
                </td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
               @if(Model.LoggedMember.Admin == true || Model.LoggedMember.Id == item.Id)
               {
                    <td>
                        <a asp-page="UpdateMember" asp-route-memberId="@item.Id" asp-route-url="/Members/AllMembers" class="btn btn-outline-primary">Rediger</a>
                        <a asp-page="DeleteMember" asp-route-memberId="@item.Id" class="btn btn-outline-danger">Slet</a>
                    </td>
               }
               else
               {
                  <td></td>  
               }
            </tr>
        }
    }
</table>