@page
@model JordnærCase2023.Pages.Members.MemberPageModel
@{
    ViewData["Title"] = "";
}

<div>
    <div style="display:flex; gap: 10px;">
        <div>
            <img src="~/Images/Members/@Model.Member.Image" class="rounded-circle" width="150" height="150" />
        </div>
        <div>
            <h2>@Model.Member.Name</h2>
            <h6>@Model.Member.Email</h6>
            <h6>@Model.Member.Phone</h6>


            <h4>Vagttyper</h4>
                <div style="display:flex; gap: 5px;">
                    @if(Model.shiftTypes.Count > 0)
                    {
                        @foreach (var item in Model.shiftTypes)
                        {
                            <div style="display:flex; gap: 10px; padding:5px 7px; border-radius: 10px; border: 1px solid grey; align-items: center;">
                                <div style="background-color:blue; height:10px; min-width:10px; border-radius:50%;"></div>
                                <div>@item.Name</div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Der er ingen tilmeldte vagttyper</p>
                    }
                    
                </div>
            

        </div>
        <div style="margin-left:auto;">
            <div style="padding-bottom:5px;">
                <a asp-page="AllMembers" class="btn btn-outline-dark">Tilbage</a>
                <a asp-page="UpdateMember" class="btn btn-primary" asp-route-memberId="@Model.Member.Id">Opdater medlem</a>
            </div>
            <a asp-page="DeleteMember" class="btn btn-primary btn-danger" style="float:right;" asp-route-memberId="@Model.Member.Id">Slet medlem</a>
        </div>
    </div>

    <table class="table">
        <h4>Vagter</h4>
        @if(Model.MemberShifts.Count == 0)
        {
            <p>Der er ingen tilmeldte vagter.</p>
        }
        else
        {
            <thead>
            <th>
                Shift_ID
            </th>
            <th>
                Member_ID
            </th>
            <th>
                Shift_Type
            </th>
            <th>
                Date_From
            </th>
            <th>
                Date_To
            </th>
            </thead>

            foreach(var item in Model.MemberShifts)
            {
                <tr>
                    <td>
                        @item.ShiftID
                    </td>
                    <td>
                        @item.MemberID
                    </td>
                    <td>
                        @item.ShiftType
                    </td>
                    <td>
                        @item.DateFrom
                    </td>
                    <td>
                        @item.DateTo
                    </td>
                </tr>
            }
        }

    </table>
</div>
