@page
@using JordnærCase2023.Interfaces
@inject IShiftTypeService shiftTypeService
@model JordnærCase2023.Pages.Members.MemberPageModel
@{
    ViewData["Title"] = "Min side";
}

<div>
    <div style="display:flex; gap: 10px; margin-bottom:10px;">
        <div>
            <img src="~/Images/Members/@Model.Member.Image" class="rounded-circle" width="150" height="150" />
        </div>
        <div>
            <h2>@Model.Member.Name</h2>
            <h6>@Model.Member.Email</h6>
            <h6>@Model.Member.Phone</h6>


            <h4>Vagttyper</h4>
                <div style="display:flex; gap: 5px;">
                    @if(Model.shiftTypes.Count > 0)
                    {
                        @foreach (var item in Model.shiftTypes)
                        {
                            <div style="display:flex; gap: 10px; padding:5px 7px; border-radius: 10px; border: 1px solid grey; align-items: center;">
                                <div style="background-color:blue; height:10px; min-width:10px; border-radius:50%;"></div>
                                <div>@item.Name</div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Der er ingen tilmeldte vagttyper</p>
                    }
                    
                </div>

            <h4>Diverse</h4>
            <div style="display: flex; gap: 5px;">
                @if(Model.Member.SanitationCourse == true)
                {
                <div style="display:flex; gap: 10px; padding:5px 7px; border-radius: 10px; border: 1px solid grey; align-items: center;">
                    <div style="background-color:blue; height:10px; min-width:10px; border-radius:50%;"></div>
                    <div>Hygiejnekursus</div>
                </div>
                }

                @if (Model.Member.Admin == true)
                {
                    <div style="display:flex; gap: 10px; padding:5px 7px; border-radius: 10px; border: 1px solid grey; align-items: center;">
                        <div style="background-color:blue; height:10px; min-width:10px; border-radius:50%;"></div>
                        <div>Adminstrator</div>
                    </div>
                }

                @if(Model.Member.SanitationCourse == false && Model.Member.Admin == false)
                {
                    <p>Der er ingen diverse tilknyttede grupper.</p>
                }

                
            </div>
            

        </div>
        <div style="margin-left:auto;">
            <div style="padding-bottom:5px;">
                <button type="button" class="btn btn-outline-dark" onclick="window.history.back();">Tilbage</button>
                @if (Model.Member.Email == Model.LoggedEmail || Model.LoggedMember.Admin == true)
                {
                    <a asp-page="UpdateMember" class="btn btn-primary" asp-route-memberId="@Model.Member.Id" asp-route-url="/Members/MemberPage?memberId=@Model.Member.Id">Rediger medlem</a>
                }
               
            </div>
            @if (Model.Member.Email == Model.LoggedEmail || Model.LoggedMember.Admin == true)
            {
                <a asp-page="DeleteMember" class="btn btn-primary btn-danger" style="float:right;" asp-route-memberId="@Model.Member.Id">Slet medlem</a>
            }
        </div>
    </div>

    <table class="table">
        <h4>Vagter</h4>
        @if(Model.MemberShifts.Count == 0)
        {
            <p>Der er ingen tilmeldte vagter.</p>
        }
        else
        {
            <thead>
            <th>
                ID
            </th>
            <th>
                Vagttype
            </th>
            <th>
                Startdato
            </th>
            <th>
                Slutdato
            </th>
            <th></th>
            </thead>

            foreach(var item in Model.MemberShifts)
            {
                <tr>
                    <td>
                        @item.ShiftID
                    </td>
                    <td>
                        @shiftTypeService.GetShiftTypeById(item.ShiftType).Name
                    </td>
                    <td>
                        @item.DateFrom
                    </td>
                    <td>
                        @item.DateTo
                    </td>
                    @if (Model.Member.Email == Model.LoggedEmail || Model.LoggedMember.Admin == true)
                    {
                        <td>
                            <a asp-page="/Shifts/RemoveShift" asp-route-shiftId="@item.ShiftID" asp-route-url="/Members/MemberPage?memberId=@item.MemberID">Afmeld vagt</a>
                        </td>
                    }
                    
                </tr>
            }
        }

    </table>

    <table class="table">
        <h4>Events</h4>
        @if(Model.memberEvents.Count == 0)
        {
            <p>Der er ingen tilmeldte events.</p>
        }
        else
        {
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Navn
                    </th>
                    <th>
                        Beskrivelse
                    </th>
                    <th>
                        Startdato
                    </th>
                    <th>
                        Slutdato
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model.memberEvents)
                {
                    <tr>
                        <td>@item.EventId</td>
                        <td>@item.EventName</td>
                        <td>@item.EventDescription</td>
                        <td>@item.EventDateFrom</td>
                        <td>@item.EventDateTo</td>
                        <td><img src="~/images/@item.EventImg" width="60" height="60" /></td>
                        @if (Model.Member.Email == Model.LoggedEmail || Model.LoggedMember.Admin == true)
                        {
                            <td><a asp-page-handler="LeaveEvent" asp-route-eventId="@item.EventId" asp-route-memberId="@Model.Member.Id" asp-route-url="/Members/MemberPage?memberId=@Model.Member.Id" class="btn btn-primary" style="font-size: medium">Afmeld</a></td>
                        }
                        
                    </tr>
                }
                
            </tbody>
        }
    </table>
</div>
