@page
@model JordnærCase2023.Pages.Members.MemberPageModel
@{
    ViewData["Title"] = "";
}

<div>
    <div style="display:flex">
        <div>
            <img src="~/Images/Members/@Model.Member.Image" class="rounded-circle" width="150" height="150" />
        </div>
        <div>
            <h2>@Model.Member.Name</h2>
            <h6>@Model.Member.Email</h6>
            <h6>@Model.Member.Phone</h6>


            @*
                <div style="display:flex">
                    foreach(VagtType item in VagtTyper)
                    {
                        <div style="display:flex">
                            <div style="background-color:tomato; height:10px; min-width:10px; border-radius:50%"></div>
                            <div>@item.Name</div>
                        </div>
                    }
                </div>
            *@

        </div>
    </div>

    <table class="table">
        <h3>Vagter</h3>
        @if(Model.MemberShifts.Count == 0)
        {
            <h6>Der er ingen tilmeldte vagter.</h6>
        }
        else
        {
            <thead>
            <th>
                Shift_ID
            </th>
            <th>
                Member_ID
            </th>
            <th>
                Shift_Type
            </th>
            <th>
                Date_From
            </th>
            <th>
                Date_To
            </th>
            </thead>

            foreach(var item in Model.MemberShifts)
            {
                <tr>
                    <td>
                        @item.ShiftID
                    </td>
                    <td>
                        @item.MemberID
                    </td>
                    <td>
                        @item.ShiftType
                    </td>
                    <td>
                        @item.DateFrom
                    </td>
                    <td>
                        @item.DateTo
                    </td>
                </tr>
            }
        }

    </table>
</div>
