@page
@model JordnærCase2023.Pages.Events.GetAllEventsModel
@using JordnærCase2023.Services
@using JordnærCase2023.Interfaces
@using JordnærCase2023.Models
@inject IUserLoginService _userLoginService
@inject IEventService _eventService
@{
    ViewData["Titel"] = "GetAllEvents";
}

<h1>Current Events</h1>

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>
<p></p>

<p>
    <a asp-page="CreateEvent" class="btn btn-primary" style="font-size: medium">Create Event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Event Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                DateFrom
            </th>
            <th>
                DateTo
            </th>
            <th>
                EventImg
            </th>
            <th>
                MaxAtt.
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @item.EventId
                    </td>
                    <td>
                        @item.EventName
                    </td>
                    <td>
                        @item.EventDescription
                    </td>
                    <td>
                        @item.EventDateFrom
                    </td>
                    <td>
                        @item.EventDateTo
                    </td>
                    <td>
                        <img src="~/images/@item.EventImg" width="60" height="60" />
                    </td>
                    <td>
                        @{
                            List<Tuple<int, int, int>> ownerSum = await _eventService.GetAllEventMemberAsync();
                            int attCount = ownerSum.Count(x => x.Item3 == item.EventId);
                            if (attCount >= item.EventMaxAttendance)
                            {
                                <span class="text-danger">Event Full</span>
                            } else
                            {
                                <span>Open Spots @(item.EventMaxAttendance - attCount)</span>                                    
                            }
                        }
                    </td>
                    <td>                        
                        @{
                            string email = HttpContext.Session.GetString("Email");
                            Member emMember = _userLoginService.GetLoggedMember(email);
                            List<Event> checkSum = await _eventService.GetEventsForMemberAsync(emMember.Id);                            
                            if (checkSum.Exists(x => x.EventId == item.EventId))
                            {
                                <a asp-page-handler="LeaveEvent" asp-route-eventId="@item.EventId" class="btn btn-primary" style="font-size: medium">Leave Event</a>
                            }
                            else
                            {
                                <a asp-page-handler="JoinEvent" asp-route-eventId="@item.EventId" class="btn btn-primary" style="font-size: medium">Join Event</a>
                            }                           
                            var ownerCheck = ownerSum.OrderBy(x => x.Item3).GroupBy(x => x.Item3).ToDictionary(g => g.Key, g => g.First().Item2);
                            if (ownerCheck.TryGetValue(item.EventId, out var firstId) && (firstId == emMember.Id) || emMember.Admin)
                            {
                                    <a asp-page="UpdateEvent" asp-route-id="@item.EventId" class="btn btn-primary" style="font-size: medium">Update</a>
                                    <a asp-page="DeleteEvent" asp-route-id="@item.EventId" class="btn btn-primary" style="font-size: medium">Delete</a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>