@page
@model JordnærCase2023.Pages.Events.UpdateEventModel
@{
    ViewData["Title"] = "Rediger event";
}

<h1>Rediger event</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Event.EventId" class="control-label" hidden></label>
                <input type="hidden" asp-for="@Model.Event.EventId" class="form-control" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventName" class="control-label">Navn</label>
                <input asp-for="@Model.Event.EventName" class="form-control" />
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <label asp-for="@Model.Event.EventDescription" class="control-label">Beskrivelse</label>
                <input asp-for="@Model.Event.EventDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventDateFrom" class="control-label">Startdato</label>
                <input asp-for="@Model.Event.EventDateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventDateTo" class="control-label">Slutdato</label>
                <input asp-for="@Model.Event.EventDateTo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Photo" class="control-label">Billede</label>
                <div class="custom-file">
                    <input asp-for="@Model.Photo" class="custom-file-input form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventMaxAttendance" class="control-label">Max antal deltagere</label>
                <input asp-for="@Model.Event.EventMaxAttendance" class="form-control" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-dark" onclick="window.history.back();">Tilbage</button>
                <input type="submit" value="Rediger" class="btn btn-primary" />
            </div>
            <div>
            </div>
        </form>
    </div>
</div>
