@page
@using JordnærCase2023.Models
@model JordnærCase2023.Pages.Shifts.CreateModel
@{
    ViewData["Title"] = "Create Shift";
}

<h1>Create Shift</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.MemberID" class="control-label" hidden></label>
                <input asp-for="@Model.ShiftCreate.MemberID" class="form-control" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.ShiftType" class="control-label"></label>
                <select asp-for="@Model.SelectedShiftType"  class="form-control">
                    <option value="">Select Shift Type her</option>
                    @foreach (var sType in Model.ShiftTypes)
                    {
                        <option value="@sType.Id">@sType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.DateFrom" class="control-label"></label>
                <input asp-for="@Model.ShiftCreate.DateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.DateTo" class="control-label"></label>
                <input asp-for="@Model.ShiftCreate.DateTo" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>
            </div>
        </form>
    </div>
</div>