@page
@using JordnærCase2023.Models
@model JordnærCase2023.Pages.Shifts.CreateModel
@{
    ViewData["Title"] = "Opret ny vagt";
}

<h1>Opret vagt</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.MemberID" class="control-label" hidden></label>
                <input asp-for="@Model.ShiftCreate.MemberID" class="form-control" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.ShiftType" class="control-label">Vagttype</label>
                <select asp-for="@Model.SelectedShiftType"  class="form-control">
                    <option value="">Vælg vagttype:</option>
                    @foreach (var sType in Model.ShiftTypes)
                    {
                        <option value="@sType.Id">@sType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.DateFrom" class="control-label">Startdato</label>
                <input asp-for="@Model.ShiftCreate.DateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftCreate.DateTo" class="control-label">Slutdato</label>
                <input asp-for="@Model.ShiftCreate.DateTo" class="form-control" />
            </div>

            <div class="form-group" style="margin-top:5px;">
                <button type="button" class="btn btn-outline-dark" onclick="window.history.back();">Tilbage</button>
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>