@page
@model JordnærCase2023.Pages.Shifts.DeleteModel
@{
    ViewData["Title"] = "Slet vagt";
}

<h1>Slet vagt</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.ShiftID" class="control-label">ID</label>
                <input asp-for="@Model.ShiftDelete.ShiftID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.ShiftType" class="control-label">Vagttype</label>
                <input asp-for="@Model.ShiftDelete.ShiftType" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.DateFrom" class="control-label">Startdato</label>
                <input asp-for="@Model.ShiftDelete.DateFrom" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.DateTo" class="control-label">Slutdato</label>
                <input asp-for="@Model.ShiftDelete.DateTo" class="form-control" readonly />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-dark" onclick="window.history.back();">Tilbage</button>
                <input type="submit" value="Slet vagt" class="btn btn-danger" /> 
            </div>
        </form>
    </div>
</div>