@page
@using JordnærCase2023.Interfaces
@inject IShiftTypeService shiftTypeService
@model JordnærCase2023.Pages.Shifts.GetAllShiftsModel
@{
    ViewData["Title"] = "Alle vagter";
}

<h1>Alle vagter</h1>

<div style="display:flex; justify-content: space-between;">

<a asp-page="CreateShift" class="btn btn-primary" style="float:right;">Opret ny vagt</a>
</div>

<table class="table">
    <thead>
        <th>
            ID
        </th>
        <th>
            Medlem ID
        </th>
        <th>
            Vagttype
        </th>
        <th>
            Startdato
        </th>
        <th>
            Slutdato
        </th>
        @if(Model.LoggedMember != null)
        {
            <th></th>
        }
        <th></th>
        <th></th>
    </th>
    <tbody>
        @if (Model.Shifts.Count() != 0)
        {
            @foreach (var item in Model.Shifts)
            {
                <tr>
                    <td>
                        @item.ShiftID
                    </td>
                    <td>
                        @item.MemberID
                    </td>
                    <td>
                        @shiftTypeService.GetShiftTypeById(item.ShiftType).Name
                    </td>
                    <td>
                        @item.DateFrom
                    </td>
                    <td>
                        @item.DateTo
                    </td>
                    
                        @if(item.MemberID == null)
                        {
                        <td>
                            <a asp-page="JoinShift" asp-route-shiftId="@item.ShiftID" asp-route-memberId="@Model.LoggedMember.Id" class="btn btn-primary">Tilmeld</a>
                        </td>
                        }
                        else if (item.MemberID == Model.LoggedMember.Id || Model.LoggedMember.Admin == true)
                        {
                        <td>
                            <a asp-page="RemoveShift" asp-route-shiftId="@item.ShiftID" asp-route-url="/Shifts/GetAllShifts" class="btn btn-danger">Afmeld</a>
                        </td>
                        }
                        else{
                            <td></td>
                        }

                    <td><a asp-page="UpdateShift" asp-route-shiftId="@item.ShiftID" class="btn btn-outline-primary">Rediger</a></td>
                    <td><a asp-page="DeleteShift" asp-route-shiftId="@item.ShiftID" class="btn btn-outline-danger">Slet</a></td>
                </tr>
            }
        }
    </tbody>
</table>