@page
@model JordnærCase2023.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>Log ind</h1>

@Model.Message
<form method="post" class="col-md-4">
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label">E-mail</label>
        <Input type="text" asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password" class="control-label">Kodeord</label>
        <Input type="password" asp-for="@Model.Password" class="form-control"/>
    </div>
    <div class="form-group" style="margin-top:10px;">
        <a asp-page="/Members/CreateMember" class="btn btn-outline-primary">Opret bruger</a>
        <Input type="submit" value="Log ind" class="btn btn-primary" />
    </div>
            
</form>
